{% extends 'base.html' %}

{% block main_content %}
    <table width="100%"> 
        {% if contests %}
            <tr> <td> <b>Contest</b> </td> <td> <b>Start Time</b> </td> <td> <b>End Time</b> </td> </tr>
            {% for contest in contests %}
                <tr>
                    <td> <a href='/home/contests/{{ contest.name }}/'> {{ contest.name }} </a> </td>
                    <td> {{ contest.start_time }}</td>
                    <td> {{ contest.end_time }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <h3> No Active Contests ! Go to Practice Area </h3>
        {% endif %}
    </table>
{% endblock %}

