{% extends 'base.html' %}

{% block header %}
<h3> {{ category }} </h3> 
{% endblock %}

{% block main_content %}
<center>
<table id="{{category}}" class="zebra"> 
    <thead><tr>
        {% for col in columns %}
        <th scope="col"> 
	  {% if col.link %} 
          <a href="{{ col.link }}">{{ col.name }}</a>
          {% else %}
          {{ col.name }}
          {% endif %}
	</th>    
        {% empty %}
        {% endfor %}
    </tr></thead>
    {% for rowItem in rows %}
    {% if colored %}
    <tr class="{{ rowItem.color }}">
    {% else %}
    <tr class="{% cycle "odd" "even" %}">
    {% endif %}
        {% for col in rowItem.items %}
        <td> 
            {% if col.link %} 
            <a href="{{ col.link }}">{{ col.value }}</a>
            {% else %}
            {{ col.value }}
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% empty %} 
    {% endfor %}
</table>
</center>
{% endblock %}

